body{
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}
.container {
    margin: auto;
    display: block;
    width: 80%;
}
.titleLine{
    background: #E82B41;
    display:block;
    width: 123%;
    margin: 0 -13%;
    text-align: center;
    padding: 18px;
    font-size: 25px;
}
.titleLine h3 {
    color: rgb(255, 255, 255);
    text-align: center;
    display:inline;
}
.titleLine button {
    color: rgb(255 255 255);
    background: transparent;
    border: 2px solid white;
    margin: 0px 0px 0px 33px;
    font-size: 17px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
/* intro section style  */
.introWrapper {
    overflow: hidden;
}

.introMeta {
    width: 50%;
    float: right;
    margin: 120px 0px;
}

.introPhoto {
    width: 50%;
    float: left;
}

.introPhoto img {
    width: 100%;
}
.introMeta h1 {
    font-size: 51px;
    color: #000000a6;
    margin-bottom: 70px;
    margin-top: 0px;
}
.introMeta h1 span {
    color: tomato;
}

.introMeta p {
    font-family: arial;
    color: #e31818b0;
    font-weight: 500;
    line-height: 2em;
    margin-bottom: 45px;
}
button.btnStyle {
    border: none;
    outline: none;
    background: transparent;
}
button.btnStyle a {
    background: linear-gradient(86deg, #ff0032, #fb6830);
    outline: none;
    border: none;
    padding: 15px 35px;
    font-size: 18px;
    color: white;
    border-radius: 25px;
    text-decoration: none;
}
button.btnStyle a:hover {
    background: linear-gradient(86deg, #fb6830, #ff0032);
}

/* about section  */


#aboutMe{
    background:url("images/shapes/aboutBgImg.jpg");
    padding: 50px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
}
.aboutWrapper {
    overflow: hidden;
}

.aboutMeta {
    width: 40%;
    float: left;
    margin: 80px 0px;
}

.aboutPhoto {
    width: 50%;
    float: right;
}

.aboutPhoto img {
    width: 100%;
}
h2.secName {
    font-size: 40px;
    color: #000000a6;
    margin-bottom: 56px;
}
.aboutMeta p {
    font-size: 17px;
    font-family: arial;
    line-height: 1.8;
    color: #5b5b5bf7;
    margin-bottom: 150px;
}

/* recipies section */
section#recipies {
    margin: 70px 0px;
}
.recipiesWrapper {display: table;}
.recipiesTitle {
    text-align: center;
}

.recipiesTitle p {
    font-size: 22px;
    font-family: arial;
    color: #a3a3a3;
    line-height: 1.5;
    text-align: center;
}
.singleBox {
    width: 27%;
    float: left;
    margin: 0px 3%;
    box-shadow: 0px 0px 20px 4px #00000091;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 22px;
}

.foodPhoto img {width: 100%;height: 100%;}



.foodPhoto {
    height: 335px;
    overflow: hidden;
    border-radius: 22px;
}

.rMeta h3 {font-size: 30px;}

.rMeta p {
    font-family: arial;
    font-size: 18px;
    color: #7c7979;
    text-align: center;
}

/* traffic */
section#traffic {margin: 80px 0px;}

.trafficWrapper {
    overflow: hidden;
    box-shadow: 7px 4px 16px 3px #615f5f80;
    border-radius: 20px;
}

.singleboxUp {
    float: left;
    margin: 0 177px;
    margin-bottom: 50px;
}

.singleboxUp h1 {
    font-size: 65px;
    margin-bottom: 20px;
}

.singleboxUp span {
    font-family: arial;
    color: #696767;
}
